body {
  background: #020024;
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.367384) 100%, rgba(36, 163, 29, 0.109681) 100%, #2d4db1 100%);
  margin: 0%; }

h1 {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

h2 {
  color: #554040;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3rem; }
#contacto2{
  padding: 20px;
}
.botonera {
  width: 70%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  font-size: 25px;
  padding-right: 10px; }

  .nav1{
    background-color: #8b8383;
    padding: 10px;
    margin-right: 40px;
    margin-left: 40px;
    
  }

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 0px;
  margin: 5rem;
  padding: 50px;
  background-color: #bac5bb; 
  border: solid;  
}

.politica {
  margin: 15px;
  padding: 10px;
  background-color: #bac5bb;
  background: linear-gradient(90deg, rgba(154, 152, 184, 0.443015) 100%, rgba(36, 163, 29, 0.109681) 100%, #2d4db1 100%);
  border: solid ;
}

#redes {
  font-size: 20px; 
  width: 30%;
}

.footer {
  padding: 20px;
  margin: 10px;
  border-style: solid; }

header {
  background-color: #8b8383;
  padding: 10px; }

.fz {
  height: 100px;
  margin-right: 10px;
  padding: 20px; }

.ee {
  display: flex;
  justify-content: space-around;
  font-weight: 600px;
  padding-right: 10px; }

.inicio {
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black; }

.product {
  list-style: none;
  display: flex;
  margin: 15px; }

.parent2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; }

.trans1 {
  font-size: 3rem;
  transition: all 2s;
  width: 100%;
  text-align: center; }

.trans1:hover {
  font-size: 4rem; }

.inicio {
  font-size: 25px;
  transition: all 0.5s; }

.inicio:hover {
  font-size: 35px; }

.sobrenos {
  margin-left: 25px;
  margin-right: 25px; }

.parent3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 3.5rem;
  padding: 35px;
  background-color: #bac5bb; 
  border: solid;
}
.nuestrosProductos{
  text-align: center;
}


.sobrenos2 {
  margin: 15px;
  padding: 10px;
  background-color: #bac5bb;
  background: linear-gradient(90deg, rgba(154, 152, 184, 0.443015) 100%, rgba(36, 163, 29, 0.109681) 100%, #2d4db1 100%);
  border: solid;
}

.fotoss {
  height: 600px;
  width: 400px;
  text-align: center; 
 margin: 2rem;
 border: solid; padding: 1.2rem;
 
}
.fotoss:hover {filter: opacity(.5);}

.footer2{
  width: 65%;
  justify-content: space-around;
}

.mapa{
  justify-content: space-between;
  width: 100%;
  width: 450px;
  height: 250px;
}
.politicas{
  font-size: 3rem;
}

.alinear {
  display: flex;
  justify-content: space-around;
  transition-duration: initial 0.6s ; }

.formulario {
  margin: 20px;
  background-color: #bac5bb;
  border-style: solid;
  padding: 1rem; }
.servi{
  text-align: center;
  padding: 10px;
}
.gridCarru {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; }
  .parent4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-family: 'Koulen';
    font-size: 18px;
    width: 100%;
    padding: auto;
    margin-left: 3.5rem;
    }
    .parent5 {
    display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      font-family: 'Koulen';
      font-size: 18px;
      }
      .imgmedidas{
        height: 500px;
        width: 350px;
      }
.parent6{
        
 display: grid;
 grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
 grid-column-gap: 0px;
grid-row-gap: 0px;
  }
.iframe1{
  width: 600px;
  height: 450px;
 }
.parent8{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
}

@media (min-width: 0px) and (max-width: 576px) {
  .gridCarru {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 3fr; }
  .inicio {
    font-size: 25px; }
  #h1especial {
    font-size: 26px; }
  .nuestrosProductos {
    font-size: 30px; }
  #productos2 {
    font-size: 18px; }
  #contacto2 {
    font-size: 20px; }
  #contacto3 {
    font-size: 18px; }
  #servicios1 {
    font-size: 18px; }
  #nosotros {
    font-size: 18px; }
  .parent {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    margin-inline: 10px;
    margin-block-start: 20px; }
  .parent3 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr; }
  .iframe {
    height: 200px;
    width: 250px; } }
@media (max-width: 550Px){
.trans1 {
  font-size: 2rem;
  transition: none;}
.trans1:hover {
  font-size: 2rem; }
.imgmedidas{
  height: 350px;
  width: 230px;}
.fotoss{
  height: 500px;
  width: 270px;}
.parent6{
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);}
#politicas{
  font-size: 1.7rem;}
#politicass{
  font-size: 1.7rem;}
#politicasss{
 font-size: 1.7rem;}
#politicas{
 font-size: 1.7rem;}
#somos{
  font-size: 1.6rem;}
#somoss{
  font-size: 1.6rem;}
#somosss{
  font-size: 1.6rem;}

.sobrenos2 {
  margin: 10px;
  padding: 5px;}
  .iframe1{
    width: 130px;
    height: 250px;
  }}
    
@media (min-width: 576px) and (max-width: 767px) {
  .gridCarru {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 3fr; }
  .inicio {
    font-size: 25px; }
  #h1especial {
    font-size: 30px; }
  #contacto2 {
    font-size: 25px; }
  .parent {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    margin-inline: 10px;
    margin-block-start: 20px; }
  .parent3 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr; }
  .iframe {
    height: 200px;
    width: 300px; } }
    
  
@media (min-width: 768px) and (max-width: 993px) {
  .inicio {
    font-size: 15px; }
  #h1especial {
    font-size: 30px; }
  .gridCarru {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3fr; }
  .parent {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    margin-inline: 10px;
    margin-block-start: 20px; }
  .parent3 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr; } 
}

@media (min-width: 820px) and (max-width: 1215Px){
      .gridCarru {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3fr; }
    }
@media (min-width: 995px) and (max-width: 1380Px){
      .parent {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        margin-inline: 10px;
        margin-block-start: 20px; }
  }
@media  (min-width: 551px) and (max-width: 1346Px){
        .parent5{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        .iframe1{
          width: 300px;
          height: 430px;
        }

    }
@media (max-width: 890Px){
      .parent5{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
  }
@media (max-width: 1486px){
  .parent4{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);}
}
@media (max-width: 995px){
  .parent4 {
    
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    margin-left: 0rem}
  .ee{
    font-size: 30px;
  }
}

@media (max-width: 767px){
  .parent8{
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;}
}
