@import "listas";
@import "mixin";

body{
    background: nth($colores, 1);
    background: linear-gradient(90deg, nth($colores, 2) 100%, nth($colores, 3) 100%, nth($colores, 4) 100%);
       margin: nth($medidas, 1);
        
}
h1{
    @include h1(nth($colores, 5),('Segoe UI', Tahoma, Geneva, Verdana, sans-serif))
  
}
h2{
    color: nth($colores, 6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
}
.botonera{
    width: nth($medidas, 2);
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-size: nth($medidas, 3);
    padding-right: nth($medidas, 4);
    
}
#contacto2{
    padding: 20px;
  }
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: nth($medidas, 5);
    grid-row-gap: nth($medidas, 6);
    margin: nth($medidas, 7);
    padding:nth($medidas, 8);
    background-color: nth($colores, 7);
    background-color: #bac5bb; 
    border: solid; 
}
.politica{
    margin: nth($medidas, 9);
    padding: nth($medidas, 4); 
    background-color:  nth($colores, 7);
background: linear-gradient(90deg, nth($colores, 8) 100%, nth($colores, 9) 100%, nth($colores, 10) 100%);
}


.footer{
    padding: nth($medidas, 10);
    margin:nth($medidas, 4);
    border-style: solid;
}

header{
    background-color: nth($colores, 11);
    
    padding: nth($medidas, 4);
}
.fz{
    height: nth($medidas, 11);
    margin-right: nth($medidas, 4);
    padding: nth($medidas, 10);
}
.ee{
    display: flex;
    align-items: center;
    font-weight: nth($medidas, 12);
    padding-right: nth($medidas, 4);

}

    .inicio{
        text-decoration: none;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: nth($colores, 5);
    }
 
   .product{
       list-style: none;
       display: flex;
       margin: nth($medidas, 9);
       
   }
   .parent2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: nth($medidas, 6);
    grid-row-gap: nth($medidas, 6);
    }
    
.trans1{
    font-size: nth($medidas, 13);
    transition: all 2s;
    width: nth($medidas, 14);
    text-align: center;
    width: 100%;
}
#redes {
    font-size: 20px; 
    width: 30%;
  }
.trans1:hover{
 font-size: nth($medidas, 15);
    }

    .inicio{
 font-size: nth($medidas, 3);
 transition: all 0.5s;

    }
    .inicio:hover{
     font-size: nth($medidas, 16);
    }
    
.sobrenos{
 margin-left: nth($medidas, 3);
 margin-right: nth($medidas, 3);

    }
.parent3 {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: 1fr;
 grid-column-gap: nth($medidas, 6);
 grid-row-gap: nth($medidas, 6);
 margin:nth($medidas, 17);
 padding: nth($medidas, 16);
  background-color:  nth($colores, 7);
  border: solid;       
}
 .sobrenos2{
margin: nth($medidas, 9);
padding: nth($medidas, 4);
 background-color:  nth($colores, 7);
background: linear-gradient(90deg, nth($colores, 8) 100%, nth($colores, 9) 100%, nth($colores, 10) 100%);
border: solid;     
}
.fotoss {
height: nth($medidas, 12);
width: nth($medidas, 18);
 text-align: center;
 
 margin: 2rem;
 border: solid; padding: 1.2rem;
           
        }

 .nuestrosProductos{
    text-align: center;
  }
          
.alinear{
            
display: flex;
justify-content: space-around;
transition-duration: initial 0.6s ;

}
.formulario{
    margin: nth($medidas, 10);
    background-color: nth($colores, 7) ;
    border-style: solid;
    padding: nth($medidas, 19);
}

.gridCarru {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: nth($medidas, 6);
    grid-row-gap: nth($medidas, 6);
    
    }
.fotoss:hover {filter: opacity(.5);}

.footer2{
  width: 30%;
  justify-content: space-around;
}

.mapa{
  justify-content: space-between;
  width: 100%;
}
       
@media (min-width: nth($medidas, 20)) and (max-width:nth($medidas, 21)) {
    .inicio{
        font-size: nth($medidas, 9)

    }
    #h1especial{
        font-size: nth($medidas, 10);
    }
    .gridCarru{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3fr;
    }
    .parent{
        grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    margin-inline: nth($medidas, 4);
    margin-block-start: nth($medidas, 10);
    }
    .parent3{
        grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    }
}
@media (min-width:nth($medidas, 22)) and (max-width:nth($medidas, 23)){
    .gridCarru{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 3fr;
    }
    .inicio{
        font-size: nth($medidas, 9)

    }
    #h1especial{
        font-size: nth($medidas, 10);
    }
    #contacto2{
        font-size: nth($medidas, 3);
    }
    .parent{
        grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    margin-inline: nth($medidas, 4);
    margin-block-start: nth($medidas, 10);
    }
    .parent3{
        grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    }
    .iframe{
        height: nth($medidas, 24);
        width: nth($medidas, 25);
    }

}
@media (min-width:nth($medidas, 6)) and (max-width:nth($medidas, 22)){

    .gridCarru{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 3fr;
    }
    .inicio{
        font-size: nth($medidas, 26)

    }
    #h1especial{
        font-size: nth($medidas, 9);
    }
    .nuestrosProductos{
        font-size: nth($medidas, 27);
    }
    #productos2{
        font-size: nth($medidas, 28);
    }
    #contacto2{
        font-size: nth($medidas, 10);
    }
    #contacto3{
        font-size: nth($medidas, 28);
    }
    #servicios1{
        font-size: nth($medidas, 28);
    }
    #nosotros{
        font-size: nth($medidas, 28);
    }
    .parent{
        grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    margin-inline: nth($medidas, 4);
    margin-block-start: nth($medidas, 10);
    }
    .parent3{
        grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    }
    .iframe{
        height: nth($medidas, 24);
        width: nth($medidas, 25);
    }
}
.servi{
    text-align: center;
    padding: 10px;
  }
  
  @media (max-width: 550Px){
    .trans1 {
      font-size: 2rem;
      transition: none;}
    .trans1:hover {
      font-size: 2rem; }
    .imgmedidas{
        height: 350px;
        width: 230px;}
  .fotoss{
    height: 450px;
    width: 270px;
  }

  .parent6{
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      
  }
  #politicas{
    font-size: 1.7rem;
  }
  #politicass{
    font-size: 1.7rem;
  }
  #politicasss{
    font-size: 1.7rem;
  }
  #politicas{
    font-size: 1.7rem;
  }
  #somos{
    font-size: 1.6rem;
  }
  #somoss{
    font-size: 1.6rem;
  }
  #somosss{
    font-size: 1.6rem;
  }
  .iframe1{
    width: 140px;
    height: 200px;

  }
  .sobrenos2 {
    margin: 10px;
    padding: 5px;
 
  }
}
@media (max-width: 1486px){
  .parent4{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
}
@media (max-width: 995px){
  .parent4 {
    
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    margin-left: 0rem
}
}
@media (max-width: 995px){
.ee{
  font-size: 30px;
}
}